extends layout

block content
  h1= title

  div
    p Fill out your info, please
    img(src="/image.png")
    form(method="post", action="/add")
      div
        input#name(type="text", name="name")
        label Name
      div
        input#country(type="text", name="city")
        label City
      div
        input#country(type="text", name="country")
        label Country
      div
        input#birthday(type="text", name="birthday")
        label Birthday
      div
        input#email(type="text", name="email")
        label Email
      div
        input#phone(type="text", name="phone")
        label Phone
      button(type="submit") Submit

    form(method="get", action="/list")
      button(type="submit") List

    form(method="get", action="/delete")
      button(type="submit") Delete
